{% extends 'main/base.html' %}

{% block title %}Beef Cow Groups{% endblock %}

{% block wrapper %}
    <div style="text-align: center; padding-top:25px">
        <h1><b>Beef Cow Groups</b></h1>
    </div>
    <hr>

    <div class="mb-3" style="padding-top:15px">
        <a href="/beef_cow_groups/new_group/" class="btn btn-success">New Group</a>
    </div>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Avg. Meat Production</th>
            </tr>
        </thead>
        <tbody>
            {% for group in beef_cow_groups %}
                <tr>
                    <td class="align-middle">{{ group.id }}</td>
                    <td class="align-middle">{{ group.name }}</td>
                    <td class="align-middle">{{ group.average_meat_output }}lb</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}