{% extends 'main/base.html' %}

{% block title %}Main{% endblock %}

{% block wrapper %}
<div style="text-align: center; padding-top:25px">
    <h1><b>Feed Groups</b></h1>
</div>
<hr>
<div style="text-align: center; padding-top:25px; padding-left: 100px; padding-right: 100px;">
    <div class="mb-3">
        <a href="/dairy_cow_groups/" class="btn btn-dark btn-lg btn-block" style="padding: 20px">Dairy Cow Groups</a>
    </div>
    <div class="mb-3">
        <a href="/beef_cow_groups/" class="btn btn-dark btn-lg btn-block" style="padding: 20px">Beef Cow Groups</a>
    </div>
    <div class="mb-3">
        <a href="/chicken_groups/" class="btn btn-dark btn-lg btn-block" style="padding: 20px">Chicken Groups</a>
    </div>
    <div class="mb-3">
        <a href="/goat_groups/" class="btn btn-dark btn-lg btn-block" style="padding: 20px">Goat Groups</a>
    </div>
    <div class="mb-3">
        <a href="/pig_groups/" class="btn btn-dark btn-lg btn-block" style="padding: 20px">Pig Groups</a>
    </div>
</div>
{% endblock %}