{% extends 'main/base.html' %}

{% block title %}
New Pig Group
{% endblock %}

{% block wrapper %}
  <div style="text-align: center; padding-top:25px">
      <h1><b>New Pig Group</b></h1>
  </div>
  <hr>

  <form method="post" action="/pig_groups/new_group/" novalidate="novalidate">
    {% csrf_token %}
      {% include 'main/_form.html' %}
      <div style="text-align:center">
        <button type="submit" style="width:25%;" class="btn btn-success">Create</button>
      </div>
  </form>

{% endblock %}